<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <tr>
                     
                    <td>
                        
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">supervised_user_circle</i>
                                         
                                    </div>
                                    <p class="card-category">Users</p>
                                    <h3 class="card-title">{{ users$ }}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <span>Total number of users</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                </td>
                    <td>

                         
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">speaker_notes</i>
                                        
                                    </div>
                                    <p class="card-category">Posts</p>
                                    <h3 class="card-title">{{ posts$ }}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <span>Total number of posts</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        
                    </td>
                    <td>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">photo_library</i>

                                         
                                    </div>
                                    <p class="card-category">Albums</p>
                                    <h3 class="card-title">{{ albums$ }}</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <span>Total number of albums</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                     
                    
                </tr>
            </table>
            
            
           
           
        </div>
        
       
                   
       
    </div>
  </div>
  